.container
  canvas#gameCanvas.
    PLEASE GET A REAL BROWSER
  #messageBox.handWritten(style='display:none')
  .choiceBox
    span.humanFirst.choiceItem.fa.fa-user
    span.computerFirst.choiceItem.fa.fa-laptop
  .sideBox