html
  head
    title!= title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    include css
  body
    header.
      Connect 4
    section.game-container
      .canvas-container
        .canvas-wrapper
          canvas#gameCanvas.
            PLEASE GET A REAL BROWSER
      .options-panel
        .options-content
          .players-panel
            .choice.index-0
              .choice-left.choice-block
                .choice-player-icon
                  .player-icon
                .choice-player-name
                  .player-name
                    You
              .choice-right.choice-block
                .choice-player-start
                  button.player.button.start-button.player-item.index-0.
                    START
            .choice.index-1
              .choice-left.choice-block
                .choice-player-icon
                  .player-icon
                .choice-player-name
                  .player-name
                    You
              .choice-right.choice-block
                .choice-player-start
                  button.player.button.start-button.player-item.index-1.
                    START
          .log-panel 
            .panel-header 
              span.panel-header-content LOGS
            .panel-content
    footer
    include scripts