html
  head
    title!= title
    meta(charset='UTF-8')
    include css
  body
    header
      include header-content
    section.container
      include game-content
    footer
      include footer-content
    include scripts