html
  head
    title!= title
    meta(charset='UTF-8')
    include css
  body
    header.
      Connect 4
    section.container
      include game-content
    footer
      | Created by 
      a.link(href='https://github.com/tzbee') tzbee
    include scripts