script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
script(type='application/javascript' src='js/lib/underscore-min.js')
script(type='application/javascript' src='js/lib/backbone-min.js')
if "production" == process.env.NODE_ENV
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js')
  script(src='js/build.min.js')
else
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js')
  script(src='js/build.js')