body {
	font-family: arial,sans-serif;
	background-color: #FFFFFF;
	padding-left: 100px;
	padding-right: 100px;
}

header {
	text-align: center;
	margin: 10px;
	font-size: 3rem;
	margin-bottom: 20px;
}

.options-container {
	overflow: auto;
	float:left;
}

.players-panel {
	border: solid 1px #DDDDDD;
	padding: 0;
}

.game-container {
	clear: both;
	overflow: auto;
	margin:30px;
}

.canvas-container {
	width: 60%;
	float: left;
	margin-left:20px;
	margin-right:20px;
}

.canvas-wrapper {
	width: 60%;
	margin: auto;
}

.player {
	overflow: auto;
}

.player-info {
	margin:5px;
	float:left;
	padding:8px;
	font-size: 2em;
}

.choice-container {
	overflow: auto;
	padding:3px;
}

.choice-container.active {
	background: #EEEEEE;
}

.choice {
	overflow: auto;
	margin-top:10px;
	margin-bottom: 10px;
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	font-weight: bold;
}

.button {
	border: none;
	background: #65a9d7;
	padding: 7px 12px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: #ffffff;
	vertical-align: middle;
	font-weight: bold;
}

.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ffffff;
}

.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}

.start-button {
	font-size: 15px;
}

.player-item {
	float: left;
	margin: 0 10px 0 10px;
}

.name-container {
	width: 120px;
}

.player-icon {
	font-size: 1.6em;
}

.player-icon-container {
	width: 50px;
	display: inline-block;
	vertical-align: middle;
}

.log-panel {
	border: solid 1px #DDDDDD;
	padding: 0;
	margin-top:50px;
}

.panel-header {
	padding:10px;
	font-weight: bold;
}

.panel-content {
	height: 190px;
	overflow: auto;
}

.log-entry {
	padding:10px;
}