body {
	background-color: #EEEEEE;
	font-family: arial,sans-serif;
	font-weight: bold;
}

.container {
	max-width: 600px;
	width: 40%;
	margin: auto;
	padding: 0px;
	text-align: center;
}

.result {
	display: inline-block;
	font-size: 3rem;
	font-weight: bold;
}

.yellow {
	color: #DDDD22;
}

.red {
	color: #DD2222;
}

.sideBox, .choiceBox {
	margin: auto;
}

.choiceBox {
	width: 28%;
	font-size: 5vmax;
}

.choiceItem:hover {
	color: #222222 !important; 
	cursor: pointer;
}

@media all and (orientation: portrait) { 
	.container {
		width: 100%;
	}
}